<?xml version="1.0" encoding="utf-8" ?>
<configuration title="Kolonia Management System" owner="Piotr i Rafał">
	<application sysid="22" name="KoloniaManagementSystem" key="0000-0000-0000-0000">
		<KoloniaDB name="KoloniaDB"
				   user="sql7759030"
				   password="wYaz8HFV7h"
				   params="Server=sql7.freesqldatabase.com;Port=3306;Database=sql7759030;User Id=sql7759030;Password=wYaz8HFV7h;Charset=utf8;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Connection Timeout=30;"/>
	</application>
</configuration>
